<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.konfido.pkmanager</string>
	<key>connections</key>
	<dict>
		<key>102D616D-2953-4568-86A3-5735D8AEA270</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>37466BB2-A090-4712-AA83-89F367D8CBA5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2766465F-6260-4ADD-BE86-0FCF44283C71</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6432274D-3360-46EF-A830-32D1B77A92CA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>37466BB2-A090-4712-AA83-89F367D8CBA5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CF7E6AB0-8030-4128-BA60-E62F109A3A26</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>45D8F9E6-A0E7-496E-9250-EEC5D5CB0286</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C7154953-6853-409B-967C-CDFC17AB7C49</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>102D616D-2953-4568-86A3-5735D8AEA270</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Insert the link:  [{query}](./xxx)</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C7154953-6853-409B-967C-CDFC17AB7C49</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FC4A76BD-290F-4443-95DE-97105A58E97D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CF7E6AB0-8030-4128-BA60-E62F109A3A26</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FC4A76BD-290F-4443-95DE-97105A58E97D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FC4A76BD-290F-4443-95DE-97105A58E97D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B774F4C7-56C1-4EAD-80E1-97A08F01B476</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Konfido</string>
	<key>description</key>
	<string>My Personal Knowledge Manager</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>A PKManager</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<false/>
				<key>allowemptyfiles</key>
				<false/>
				<key>createintermediatefolders</key>
				<false/>
				<key>filename</key>
				<string>{var:wiki_nodes_path}{var:node}.md</string>
				<key>filetext</key>
				<string>---
title: {var:node}
synonyms: []
tags: []
typora-root-url: ..
typora-copy-images-to: ../images
date: {date:yyyy-MM-dd HH:mm:ss}
updated: {date:yyyy-MM-dd HH:mm:ss}
---


</string>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>FC4A76BD-290F-4443-95DE-97105A58E97D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>n</string>
				<key>subtext</key>
				<string>Press ⌘ to insert a relative path link to this link.</string>
				<key>text</key>
				<string>Create a new WiKi node for {query}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>45D8F9E6-A0E7-496E-9250-EEC5D5CB0286</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/Typora.app</string>
				<key>sourcefile</key>
				<string>{var:wiki_nodes_path}{var:node}.md</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>B774F4C7-56C1-4EAD-80E1-97A08F01B476</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>node</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C7154953-6853-409B-967C-CDFC17AB7C49</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>[{var:node}](../010 - Nodes/{var:node}.md)</string>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>37466BB2-A090-4712-AA83-89F367D8CBA5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>0.2</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>CF7E6AB0-8030-4128-BA60-E62F109A3A26</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>node</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>102D616D-2953-4568-86A3-5735D8AEA270</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>TT=$(osascript &lt;&lt;EOF
tell application "System Events"
	tell front window of application "Typora" to activate
	keystroke "a" using command down
	delay 0.1
	keystroke "c" using command down
	delay 0.1
	get the clipboard
end tell
EOF
)
dateTime=$(date +'%Y-%m-%d %T')


updatedText=$(echo $TT | tr '\r' '\n'| sed "s/\(updated: \).*/\1$dateTime/")

echo $updatedText &gt; ~/Desktop/text.txt


osascript &lt;&lt;BBB
tell application "System Events"
	set the clipboard to "$updatedText"
	keystroke "v" using command down
end tell
BBB</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6432274D-3360-46EF-A830-32D1B77A92CA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>nt</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Refresh updated time</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2766465F-6260-4ADD-BE86-0FCF44283C71</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Handle your personal knowledge management with ease!

- Create or open a node (inter-link, backlink)
- Refresh updated time in meta-data









Icons made by &lt;a href="https://www.flaticon.com/authors/freepik" title="Freepik"&gt;Freepik&lt;/a&gt; from &lt;a href="https://www.flaticon.com/" title="Flaticon"&gt; www.flaticon.com&lt;/a&gt;</string>
	<key>uidata</key>
	<dict>
		<key>102D616D-2953-4568-86A3-5735D8AEA270</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>2766465F-6260-4ADD-BE86-0FCF44283C71</key>
		<dict>
			<key>note</key>
			<string>Refresh updated time</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>37466BB2-A090-4712-AA83-89F367D8CBA5</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>45D8F9E6-A0E7-496E-9250-EEC5D5CB0286</key>
		<dict>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>85</integer>
		</dict>
		<key>6432274D-3360-46EF-A830-32D1B77A92CA</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>B774F4C7-56C1-4EAD-80E1-97A08F01B476</key>
		<dict>
			<key>xpos</key>
			<integer>670</integer>
			<key>ypos</key>
			<integer>85</integer>
		</dict>
		<key>C7154953-6853-409B-967C-CDFC17AB7C49</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>115</integer>
		</dict>
		<key>CF7E6AB0-8030-4128-BA60-E62F109A3A26</key>
		<dict>
			<key>xpos</key>
			<integer>435</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>FC4A76BD-290F-4443-95DE-97105A58E97D</key>
		<dict>
			<key>xpos</key>
			<integer>510</integer>
			<key>ypos</key>
			<integer>85</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>wiki_nodes_path</key>
		<string>~/Documents/Sync/Docs_Wiki/010 - Nodes/</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>wiki_nodes_path</string>
	</array>
	<key>version</key>
	<string>0.1.0</string>
	<key>webaddress</key>
	<string>konfido.github.com</string>
</dict>
</plist>
